@font-face {
	font-family: 'BebasNeueRegular';
	src: url('BebasNeue-webfont.eot');
	src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
	url('BebasNeue-webfont.woff') format('woff'),
	url('BebasNeue-webfont.ttf') format('truetype'),
	url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.clock {
	width:auto;
	margin:0 auto;
	padding:30px 30px 20px 30px;
	border:1px solid #333;
	color:black;
    letter-spacing: 8px;
}

.clock-ul {
	width:auto;
	margin:0 auto;
	padding:0px;
	list-style:none;
	text-align:center;
}
.clock-li{
	display:inline;
	font-size:3em;
	text-align:center;
	font-family:'BebasNeueRegular',
	Arial, Helvetica, sans-serif;
}
#point {
	position:relative;
	-moz-animation:mymove 1s ease infinite;
	-webkit-animation:mymove 1s ease infinite;
}
@-webkit-keyframes mymove
{
	0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
	50% {opacity:0; text-shadow:none; }
	100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }
}
@-moz-keyframes mymove
{
	0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
	50% {opacity:0; text-shadow:none; }
	100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }
}