.sidebar{
    line-height: 0.9 !important;
}
.sidebar .arrow {
     top: 13px; 

}
.sidebar .nav-second-level li a {
    padding: 9px 10px 9px 40px;
    font-size: 13px;
}
.sidebar .mdi {
     font-size: 15px; 
}
.text-md-right{
    text-align:right!important}
.text-md-center{
    text-align:center!important}
@media (min-width:992px){
    .text-lg-left{text-align:left!important}
    .text-lg-right{text-align:right!important}
    .text-lg-center{text-align:center!important}
}
@media (min-width:1200px){
    .text-xl-left{text-align:left!important}
    .text-xl-right{text-align:right!important}
    .text-xl-center{text-align:center!important}
}
.text-lowercase{text-transform:lowercase!important}
.text-uppercase{text-transform:uppercase!important}
.text-capitalize{text-transform:capitalize!important}
.font-weight-light{font-weight:300!important}
.font-weight-normal{font-weight:400!important}
.font-weight-bold{font-weight:700!important}
.font-italic{font-style:italic!important}
.text-white{color:#fff!important}
.text-primary{color:#3490dc!important}
a.text-primary:focus,a.text-primary:hover{color:#2176bd!important}
.text-secondary{color:#6c757d!important}
a.text-secondary:focus,a.text-secondary:hover{color:#545b62!important}
.text-success{color:#38c172!important}
a.text-success:focus,a.text-success:hover{color:#2d995b!important}
.text-info{color:#6cb2eb!important}
a.text-info:focus,a.text-info:hover{color:#3f9ae5!important}
.text-warning{color:#ffed4a!important}
a.text-warning:focus,a.text-warning:hover{color:#ffe817!important}
.text-danger{color:#e3342f!important}
a.text-danger:focus,a.text-danger:hover{color:#c51f1a!important}
.text-light{color:#f8f9fa!important}
a.text-light:focus,a.text-light:hover{color:#dae0e5!important}
.text-dark{color:#343a40!important}
a.text-dark:focus,a.text-dark:hover{color:#1d2124!important}
.text-body{color:#212529!important}
text-muted{color:#6c757d!important}
.text-black-50{color:rgba(0,0,0,.5)!important}
.text-white-50{color:hsla(0,0%,100%,.5)!important}