@media print {
    body{
        margin-left: -30px;
        margin-right: -30px;
    }
    .hide-on-print{
        display: none;
    }
    .print-page{
        margin-top: 0px !important;
        clear:both;
        padding: 0px !important;
        margin: 0px !important;
        display: block !important;
    }

    .break-page{
        page-break-after:always;
    }

 
    .print-head{
        display: block !important;
        clear:both;
    }


    .table{
        margin-top:-20px;
    }

    
     .table>tbody>tr>td {
            padding: 5px 5px !important;
        }

    .text-center{
        padding-top: 20px;
    }



}
